<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>

<body>
    <!-- 로그인 / 마이페이지 표시 -->
    {% if is_login == False%}
    <h1>Login</h1>
    <form action="account/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
    {%else%}
    <form action="account/logout" method="get">
        <button type="submit">Logout</button>
    </form>
    <form action="my_page" method="post">
        <button type="submit">마이 페이지</button>
    </form>
    {%endif%}
    <p>{{login_user}}</p>
    <!-- 로그인 / 마이페이지 표시 끝-->
    <div>
        <form action="/learn_add" method="post">
            <button type="submit">강의 등록</button>
        </form>
        <h1> 강의 목록 </h1>

        {%for row in rows%}
        <td colspan="2">
            <table border="1">
                <tr>
                    <td>번호</td>
                    <td>{{ row['id'] }}</td>
                    <td>판매자</td>
                    <td>{{ row['user_id'] }}</td>
                    <td>금액</td>
                    <td>{{row['price']}}</td>
                </tr>
                <tr>

                </tr>
                <tr>
                    <td>제목</td>
                    <td>
                        <a
                            href="{{ url_for('learn_detail.index', learn_id=row['id']) }}">id{{row['id']}}:{{row['title']}}</a>
                    </td>
                </tr>
                </p>
            </table>
        </td>
        {%endfor%}

    </div>



</body>

</html>