<!DOCTYPE html>
<html>

<head>
    <title>강의 등록 페이지</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_form_styles.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='ui/bannerbg.png') }}" alt="banner" class="img-fluid">

    <div class="container">
        <!-- 로그인 / 마이페이지 표시 -->
        <div class="login-form">
            <h1>강의 등록</h1>
            <p>{{ login_user }}님 안녕하세요</p>
            <form action="my_page" method="post">
                <button type="submit">마이 페이지</button>
            </form>

            <form action="/logout" method="get">
                <button type="submit">로그아웃</button>
            </form>
        </div>
        <div class="content-section">
            <h1>게시글 작성</h1>
            <form method="post" action="/learn_add/post">
                <p>판매 금액 <input type="number" id="price" name="price" class="form-control"> <br></p>

                <label for="title">제목:</label>
                <input type="text" id="title" name="title"><br>
                <label for="content">내용:</label><br>
                <textarea id="content" name="content"></textarea><br>
                <button type="submit">판매 등록</button>
            </form>
            <script class="test">
                ClassicEditor
                    .create(document.querySelector('#content'), {
                        // 이미지 업로드 기능 활성화
                        ckfinder: {
                            uploadUrl: '/learn_add/upload_image'
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            </script>
            {% if hash_tag == ""%}
            <p>#Hash Tag : 해쉬 태그를 추가해주세요</p>
            {% else %}
            <p>#Hash Tag : {{hash_tag}}</p>
            {% endif %}
            <form action="learn_add/add_hash_tag" method="post">
                <input type="text" name="new_hash_tag"><br>
                <input type="submit">
            </form>
        </div>
    </div>



</body>

</html>