<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
</head>

<body>
    <h1>{{user_id}}님 마이페이지</h1>

    <h2>구매 내역</h2>
    {% if buy_rows %}
    <table>
        <tr>
            <th>User ID</th>
            <th>Online Learn ID</th>
            <th>Amount</th>
            <th>Card Name</th>
            <th>Created At</th>
        </tr>
        {% for row in buy_rows %}
        <tr>
            <td>{{ row['user_id'] }}</td>
            <td>{{ row['online_learn_id'] }}</td>
            <td>{{ row['amount'] }}</td>
            <td>{{ row['card_name'] }}</td>
            <td>{{ row['created_at'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    <h2>판매 내역</h2>
    {% if sell_rows %}
    <table>

        <tr>
            <th>User ID</th>
            <th>Online Learn ID</th>
            <th>Created At</th>
        </tr>
        {% for row in sell_rows %}
        <tr>
            <td>{{ row['user_id'] }}</td>
            <td>{{ row['online_learn_id'] }}</td>
            <td>{{ row['created_at'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <h3>동영상 업로드</h3>
    <form method="POST" action="/my_page/upload_video" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*">
        <br><br>
        <button type="submit">업로드</button>
    </form>
</body>

</html>